<div class="tracking-wider flex flex-col gap-6 lg:max-w-[544px] lg:mx-0 lg:ms-16 lg:px-14 md:max-w-[767px] md:py-16 px-9 py-10 max-w-full mx-auto">
    <h1 class="text-4xl uppercase font-light">welcome back!</h1>
    <form class="flex flex-col gap-6" [formGroup]="loginForm">
        <div class="flex flex-col gap-2 group">
            <app-label for="email" text="email*"/>
            <input type="email" id="email" placeholder="Enter your email" class="group-hover:border-black border px-4 text-xs h-12" formControlName="email">
            @if (email.touched || email.dirty) {
                @if (email.hasError('required')) {
                    <p role="alert" class="text-red-800 text-xs">Email is required</p>
                }
                @if (email.hasError('email')) {
                    <p role="alert" class="text-red-800 text-xs">Please enter an email</p>
                }
            }

        </div>
        <div class="flex flex-col gap-2 group">
            <app-label for="password" text="password*"/>
            <input type="password" id="password" placeholder="Enter your password" class="group-hover:border-black border px-4 text-xs h-12" formControlName="password">
            @if ((password.touched || password.dirty) && password.hasError('required')) {
                <p role="alert" class="text-red-800 text-xs">Password is required</p>
            }
        </div>
        @if (errorMessage) {
            <p role="alert" class="text-red-800 text-xs">{{errorMessage}}</p>
        }
        <app-black-button text="login" (click)="submit()"/>
        <a href="#" class="uppercase underline underline-offset-8 font-light text-sm">forgot your password</a>
    </form>
    <hr class="my-6">
    <h2 class="text-2xl uppercase font-light">don't have an account yet?</h2>
    <button class="border-gray-300 shadow border text-sm h-12 flex flex-row items-center" (click)="loginWithGoogle()">
        <span class=""><img src="assets/icons/google_logo.png" alt=""></span>
        <span class="basis-2/3">Continue with Google</span>
    </button>
    <p>Or</p>
    <a routerLink="/auth/register" class="uppercase underline underline-offset-8 font-light text-sm">create an account</a>
</div>
<div id="g_id_onload"
     data-client_id="477510205315-ocqa7sib513v9gn5ffjpqi91m20r3dh2.apps.googleusercontent.com"
     data-login_uri="http://127.0.0.1:8000/api/auth/callback/google"
     data-auto_prompt="true">
</div>
<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="filled"
     data-text="Login With Google"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>