<div class="cart-item flex flex-row mt-2 h-56">
    <div class="product-img w-full basis-1/3 overflow-hidden relative">
        <a [routerLink]="['/products' , cartItem.productSlug]" routerLinkActive="router-link-active">
            <img [src]="cartItem.coverImg" class="">
        </a>
    </div>
    <div class="product-details w-full basis-2/3 px-5 py-1 text-sm">
        <h2 class="text-lg my-2">{{cartItem.name}}</h2>
        <p class="my-2">Color: {{cartItem.color}}</p>
        <p class="my-2">Size: {{cartItem.size}}</p>
        <div>
            @if (cartItem.priceAfterDiscount) {
                <span class="me-2 old-price"> {{ cartItem.price | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</span>
                <span class="price"> {{ cartItem.priceAfterDiscount | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</span>
            } @else {
                <span class="me-2 price"> {{ cartItem.price | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</span>
            }
        </div>
        <!-- counter -->
        <div class="inline-flex items-center gap-4 border p-2 my-2">
            <button aria-label="minus-btn" (click)="decreaseQuantity()">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14" />
                </svg>
            </button>
            <span> {{cartItem.quantity}} </span>
            <!-- <span> {{cartItem.quantity}} </span> -->
            <button aria-label="plus-btn" (click)="increaseQuantity()">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14m-7 7V5" />
                </svg>
            </button>
        </div>

        <!-- remove -->
        <button (click)="deleteItem()" class="block border-b text-xs border-black hover:text-red-600 hover:border-red-600 hover:border-none my-3">
            Remove
        </button>

    </div>
</div>