<div class="details_container flex flex-col md:flex-row">
    <div class="product_gallery basis-full md:basis-2/3">
        <p>any</p>
    </div>
    <div class="product_details basis-full md:basis-1/3">
        <h2 class="product_title">Product Title</h2>
        <div class="rating">
            <span><app-star-rating [rating]="3.5"></app-star-rating></span>
            <span>x reviews</span>
        </div>
        <p>LE Price</p>
        <p>Shipping calculated at checkout.</p>
        <p>Size Chart</p>
        <label for="color">Color</label>
        <ul>
            <li>
                <input type="radio" name="color" id="black" />
                <label for="black"></label>
            </li>
        </ul>
    </div>
</div>