<div class="p-4">
    <h1 class="text-4xl uppercase font-light mb-4">create a new subcategory</h1>
    <form class="grid items-start gap-6" [formGroup]="subcategoryForm">
        <div class="flex flex-col gap-2 group">
            <app-label for="name" text="subcategory name*"/>
            <input type="text" id="name" placeholder="Name" class="group-hover:border-black border px-4 text-xs h-12" formControlName="name">
            @if ((category_id.touched || category_id.dirty) && category_id.hasError('required')) {
                <p role="alert" class="text-red-800 text-xs">Name is required</p>
            }
        </div>
        <div class="flex flex-col gap-2 group">
            <app-label for="category-name" text="category name*"/>
            <select id="category-name" class="group-hover:border-black border px-4 text-xs h-12" formControlName="category_id">
                <option value="" disabled>Select Category</option>
                @for (category of categories; track $index) {
                    <option value="{{category.id}}">{{category.name}}</option>
                }
            </select>
            @if ((category_id.touched || category_id.dirty) && category_id.hasError('required')) {
                <p role="alert" class="text-red-800 text-xs">Please select a category</p>
            }
        </div>
        <app-black-button text="create" (click)="submit()" class="w-fit"/>
    </form>  
</div>