<section class="search-section my-10">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm.value.productName)">
        <div class="search-field w-1/2 m-auto">
            <input type="text" placeholder="Search" class="search capitalizee w-full" formControlName="productName" />
            <button class="search-btn" type="submit">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8398 15.1072L20.143 21" stroke="#111111"></path>
                    <path
                        d="M10.7146 16.7143C14.5017 16.7143 17.5717 13.6442 17.5717 9.85714C17.5717 6.07005 14.5017 3 10.7146 3C6.92747 3 3.85742 6.07005 3.85742 9.85714C3.85742 13.6442 6.92747 16.7143 10.7146 16.7143Z"
                        stroke="#111111" data-ignore-fill=""></path>
                </svg>
            </button>
        </div>
    </form>
</section>

<section class="container product-grid min-h-[14rem]">
@if (products?.length) {
    <hr>
        @for (product of products; track product.id) {
        <div class="product-card">
            <a [routerLink]="['/products', product.slug]">
                <div class="img relative">
                    <img class="trans_img" [src]="product.cover_image" [alt]="product.name" />
                    @if (product.discount_value){
                    <span class="absolute left-2 bottom-2 capitalizee text-xs">Sale</span>
                    }
                </div>
                <h3 class="mt-3">{{ product.name }}</h3>

                @if (product.discount_value) {
                <span class="me-2 old-price">LE {{ product.price }}</span>
                <span class="price">LE {{ product.price - product.discount_value }}</span>
                } @else {
                <span class="me-2 price">LE {{ product.price }}</span>
                }
            </a>
        </div>
    }
}
</section>