<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
 </button>
<aside id="default-sidebar" aria-label="Sidebar" class="absolute top-0 left-0 z-40 transition-transform -translate-x-full md:translate-x-0 w-72 md:w-full min-h-dvh max-h-dvh text-gray-900 overflow-y-auto scrollbar-hide grid grid-rows-[auto,1fr,auto] border-e border-gray-300">
    <div class="bg-white py-4 px-6 border-b border-gray-300 h-20 flex justify-center items-center">
        <img class="m-auto w-40" src="assets/logo.png" alt="">
    </div>
    <ul class="bg-white flex flex-col gap-0 h-100 py-4 px-4">
        <li>
            <a class="flex p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                routerLink="/">
                <img src="assets/icons/home.svg" class="size-6 me-2" alt="">
                Home
            </a>
        </li>
        <li>
            <a class="flex p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                routerLink="dashboard">
                <img src="assets/icons/chart-bar.svg" class="size-6 me-2" alt="">
                Dashboard
            </a>
        </li>
        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="users-dropdown" data-collapse-toggle="users-dropdown">
                <img src="assets/icons/users.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>users</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">
            </button>
            <ul id="users-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-user">
                        Add new user
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-role">
                        Add new role
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-users">
                        Manage users
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-roles">
                        Manage roles
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="products-dropdown" data-collapse-toggle="products-dropdown">
                <img src="assets/icons/box.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>products</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">

            </button>
            <ul id="products-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-product">
                        Add new product
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-products">
                        Manage products
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="categories-dropdown" data-collapse-toggle="categories-dropdown">
                <img src="assets/icons/category.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>categories</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">


            </button>
            <ul id="categories-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-category">
                        Add new category
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-subcategory">
                        Add new subcategory
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-categories">
                        Manage categories
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-subcategories">
                        Manage subcategories
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="orders-dropdown" data-collapse-toggle="orders-dropdown">
                <img src="assets/icons/shopping-bag.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>orders</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">
            </button>
            <ul id="orders-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-orders">
                        Manage orders
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="coupons-dropdown" data-collapse-toggle="coupons-dropdown">
                <img src="assets/icons/tag.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>coupons</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">
            </button>
            <ul id="coupons-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-coupon">
                        Add new coupon
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-coupons">
                        Manage coupons
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <button type="button"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
                aria-controls="locations-dropdown" data-collapse-toggle="locations-dropdown">
                <img src="assets/icons/location.svg" class="size-6 me-2" alt="">      
                <span class="text-left whitespace-nowrap" sidebar-toggle-item>locations</span>
                <img src="assets/icons/chevron-down.svg" class="size-5" alt="">
            </button>
            <ul id="locations-dropdown" class="hidden py-2 space-y-2 ms-8">
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/new-location">
                        Add new location
                    </a>
                </li>
                <li>
                    <a class="flex items-center w-full p-2 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 group"
                        routerLink="dashboard/manage-locations">
                        Manage locations
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <ul class="bg-white py-4 px-4 border-t border-gray-300">
        <li>
            <button type="button"
                (click)="logout()"
                class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700">
                <img src="assets/icons/logout.svg" class="size-6 me-2" alt="">      
                logout
            </button>
        </li>
    </ul>
</aside>