.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

svg {
    transition: transform 0.2s ease;
}

button[aria-expanded="true"] svg {
    transform: rotate(-180deg);
}

span {
    text-transform: capitalize;
}