.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

svg {
    transition: transform 0.2s ease;
}

button[aria-expanded="true"] svg {
    transform: rotate(-180deg);
}

span {
    text-transform: capitalize;
}

.elegant{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    color: rebeccapurple;
}
.wear{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 15px;
    margin-left: -3px;
}