.form {
  margin-top: 1rem;
  justify-content: space-evenly;
}

.second {
  height: 100vh;

}

.order-summary {
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 300px);
}

.img .counter {
  top: 30px;
  left: 29px;
}

.btn {
  background-color: rgb(51, 4, 85);
  color: white;
  border: 1px solid rgb(51, 4, 85);
}

.btn:hover {
  background-color:white;
  color: rgb(51, 4, 85);
}


.accordion-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.accordion-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 16px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.accordion-item input[type="radio"] {
  display: none;
}

.accordion-item input[type="radio"]:checked+.accordion-label {
  background-color: rgb(239, 236, 240);
  border: 1px solid #252249;
}


.payment-logos {
  display: flex;
  gap: 5px;
}

.payment-logos img {
  width: 40px;
}

.accordion-content {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

svg {
  width: 35%;
  height: 20%;
}

.accordion-item input[type="radio"]:checked+.accordion-label+.accordion-content {
  display: flex;
}

.payment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.billing-checkbox {
  display: flex;
  align-items: center;
}

.billing-checkbox input {
  margin-right: 10px;
}

.custom-radio {
  width: 18px;
  height: 18px;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  position: relative;
}

.custom-radio::before {
  content: '';
  width: 7px;
  height: 6px;
  border: 3.2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.accordion-item input[type="radio"]:checked+.accordion-label .custom-radio::before {
  opacity: 1;
}

.accordion-item input[type="radio"]:checked+.accordion-label .custom-radio {
  background-color: #3a3191;
}

.payment-span {
  margin-right: auto;
  margin-left: 10px;
}

.accordion-label:hover {
  background-color: #f0f0f0;
  border-color: #9e9e9e;
}

.billing-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;

}


a {
  cursor: pointer;
}

section:has(input[type="radio"]:checked) {
  background-color: rgb(239, 236, 240);
}

.shipping_fee {
  background-color: rgb(239, 236, 240);
}

.valid_coupon{
  background-color: rgba(52, 211, 153, var(--tw-bg-opacity));
  transition: 2s;
}

@media screen and (max-width: 768px) {

  .form {
    flex-direction: column;
  }

  .order-summary {
    width: 100%;
  }

  .second {
    height: auto;
  }

  .payment-logos img {
    width: 30px;
  }

}