<div class="px-6 mx-auto max-w-7xl py-8">
  <div class="flex flex-col md:flex-row gap-8">
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
      <div class="flex-col justify-between">
        @if (!isUserLoggedIn) {
        <div class="mb-2 w-full">
          <label for="default-input"
            class="flex justify-between mb-2 text-xl font-medium text-gray-900 dark:text-white">
            Contact
            <a routerLink="/auth/login" class="text-sm text-blue-500 underline">Log in</a>
          </label>
          <input type="text" id="default-input"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Email or mobile number" />
        </div>
        <div class="flex mb-6 mt-4">
          <div class="h-5">
            <input id="remember" type="checkbox" value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" />
          </div>
          <label for="remember" class="ms-2 mt-1 text-sm font-medium text-gray-900 dark:text-gray-300">Email me with
            news and offers.</label>
        </div>
        } @else {
        <div>
          <a class="flex justify-between items-center mb-2 text-sm text-gray-500 hover:text-blue-500"
            (click)="toggleDropdown()">
            Account
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" focusable="false" aria-hidden="true"
              class="a8x1wu10 a8x1wuz _1fragem1y _1fragemod _1fragemkk _1fragemka _1fragemnm"
              style="width: 16px; height: 16px">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m11.9 5.6-4.653 4.653a.35.35 0 0 1-.495 0L2.1 5.6"></path>
            </svg>
          </a>
          <p class="mb-3">{{ user? user.email: "" }}</p>

          @if (dropdownVisible) {
          <span>
            <a class="text-sm text-blue-500 underline" (click)="onLogout()">Logout</a>
          </span>
          }
        </div>
        }
      </div>
      <hr class="mt-3" />

      <!-- Delivery Form -->
      <h3 class="text-xl font-medium mb-2 mt-4">Delivery</h3>
      @if (savedAddresses.length) {
      <form>
        @for (address of savedAddresses; track $index) {
        <section class="flex mb-3 p-4 capitalize rounded-md">
          <input [id]="address.id" type="radio" value="" name="default-radio"
            class="w-4 h-4 mr-3 text-indigo-800 border-gray-300 focus:ring-0 focus:border-transparent" [checked]="address.is_default" (change)="onAddressChange(address.id, address.governorate)">
          <label [for]="address.id" class="flex flex-col">
            <span class="w-full text-lg font-medium text-gray-900 dark:text-gray-300">{{address.apartment}},
              {{address.address}}</span>
            <span class="text-gray-400 text-sm">{{address.governorate}}, {{address.postal_code}}</span>
          </label>
        </section>
        }
      </form>
      }
      @else {
        <app-address-form (submitted)="onAddressFormSubmit($event)"></app-address-form>
      }
        <!-- controled via submitted -->
        <form>
          <div></div>
          <h3 class="text-base font-medium mb-2">Shipping Method</h3>
          <div class="flex flex-row justify-between mb-3 p-4 capitalize rounded-md shipping_fee text-gray-900 border border-indigo-900">
                <span>Standard Shipping</span>
                <span class="font-bold text-lg font-medium">{{shippingFee | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</span>
          </div>
          <h3 class="text-xl font-medium">Payment</h3>
          <span class="text-gray-500 text-sm">All transactions are secure and encrypted.</span>
  
          <div class="mt-4">
            <div class="accordion-item">
              <input type="radio" id="credit-card" name="payment-method" value="credit-card"
                (change)="onPaymentMethodChange('credit-card')" checked />
              <label for="credit-card" class="accordion-label">
                <span class="custom-radio"></span>
                <span class="payment-span">Credit card</span>
                <div class="payment-logos">
                  <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/mada.B18Lw7s7.svg"
                    alt="Visa" />
                  <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/omannet.DA0vueZ7.svg"
                    alt="Mastercard" />
                  <img src="https://cdn.shopify.com/shopifycloud/checkout-web/assets/c1.en/assets/mastercard.1c4_lyMp.svg"
                    alt="Mada" />
                </div>
              </label>
              <div class="accordion-content">

                <!-- Stripe Initialization -->
                <div id="card-element" class="payment-input flex flex-col"></div>
                @if(paymentStatus && paymentMethod === 'credit-card') {
                  <span class="{{errorMessage ? 'text-red-500' : 'text-green-500'}} text-sm red">{{paymentStatus}}</span>
                }
                <div class="payment-form" id="card-element">
                  <div class="flex">
                    <div class="h-5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <input type="radio" id="cod" name="payment-method" value="cod" (change)="onPaymentMethodChange('cod')" />
              <label for="cod" class="accordion-label">
                <span class="custom-radio"></span>
                <span class="payment-span">Cash on Delivery (COD)</span>
              </label>
              <div class="accordion-content">
                <p>Cash On Delivery(Extra 10 EGP will be applied).</p>
              </div>
            </div>
          </div>
  
          <button type="submit"
            class="btn w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center"
            (click)="pay($event)" [disabled]="isLoading">
            {{ isLoading ? 'Processing...' : 'Place Order'}}
          </button>
  
          @if(paymentStatus && paymentMethod === 'cod') {
          <span class="{{errorMessage ? 'text-red-500' : 'text-green-500'}} text-sm red">{{paymentStatus}}</span>
          }
        </form>

    </div>

    <!-- right section -->
    <div class="second w-full md:w-1/2 bg-gray-100">
      <div class="order-summary p-10">
        @for (item of orderSummary; track $index) {
        <div class="flex justify-between items-center border-b pb-4 mb-4">
          <div class="flex items-center space-x-4">

            <div class="img">
              @if (item.quantity>1){
              <div
                class="counter absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-black border-2 border-white rounded-full dark:border-gray-900">
                {{ item.quantity }}</div>
              }
              <img [src]="item.coverImg" [alt]="item.name" class="w-16 h-16 object-cover" />
            </div>
            <div>
              <p class="text-sm font-medium">{{item.name}}</p>
              <p class="text-gray-500 text-sm">{{item.color}} / {{item.size}}</p>
            </div>
          </div>
          <p class="text-sm">{{subTotalPrice | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</p>
        </div>
        }
        <!-- Coupon -->
        <div class="flex justify-between items-center mb-4">
          @if (validCoupon){
            <app-fireworks></app-fireworks>
          }

          <div *ngIf="validCoupon" class="text-indigo-800 absolute left-12 text-xl duration-700 flex flex-row justify-around">
            <div>
              <i class="fa-solid fa-circle-check"></i>
              <span class="px-2">{{ coupon?.coupon_code }}</span>
            </div>
          </div>
          
          <input #coupon_code type="text" placeholder="Discount code"
            class="w-3/4 bg-gray-100 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            [ngClass]="validCoupon ? 'valid_coupon' : 'bg'" [readonly]="validCoupon" />
          
          <button
            class="btn w-1/4 ml-4 text-white bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [ngClass]="validCoupon ? 'hidden' : 'block'"
            type="button"
            (click)="checkCoupon(coupon_code.value)">
            Apply
          </button>
        </div>

        <div class="flex justify-between items-center pb-2 mb-4">
          <p class="text-sm">Subtotal</p>
          <p class="text-sm">{{subTotalPrice | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</p>
        </div>
        <div class="flex justify-between items-center pb-2 mb-4">
          <p class="text-sm">Shipping</p>
          <p class="text-sm">{{shippingFee | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</p>
        </div>

        @if (validCoupon){
          <div class="flex justify-between items-center pb-2 mb-4">
            <p class="text-sm">Discount</p>
            <p class="text-sm text-indigo-800">- {{totalDiscounts | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</p>
          </div>
        }

        <div class="flex justify-between border-t pt-4 border-gray-300 items-center mb-4">
          <p class="text-lg font-medium">Total</p>
          <p class="text-lg font-medium">{{totalPrice | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
