<main class="hero">
    <div class="hero-content">
      <h1>ELEGANT WEAR COLLECTIONS</h1>
    </div>
</main>

<div class="container mx-auto p-8">
    <div class="flex flex-wrap justify-center gap-2" [style.transform]="getTransform()">
      @if (subcategoryCards) {
        @for (subcategory of subcategoryCards; track $index) {
          <a [routerLink]="['/collections', subcategory.name]" class="card">
            <img [src]="subcategory.image" [alt]="subcategory.name">
            <div class="overlay">
              <h2 class="capitalizee">{{subcategory.name}}</h2>
              <h4 class="capitalizee">{{subcategory.category.name}}</h4>
              <span class="explore-button">EXPLORE</span>
            </div>
          </a>
        }
      }
    </div>
</div>