<div class="flex items-center gap-4 p-6">
    <div class="flex items-center mt-1">
        <a (click)="changeTab('address')">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="transform: rotate(180deg);">
                <path d="M9 19L15.5 12C12.9616 9.26633 11.5384 7.73367 9 5" stroke="#111111" stroke-linecap="square">
                </path>
            </svg>
        </a>
    </div>
    <a (click)="changeTab('address')"><button class="text-sm font-light">BACK TO PROFILE</button></a>
</div>

<div class="p-6">
    <h3 class="text-2xl font-normal">EDIT ADDRESS</h3>

    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="mt-6 ">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 ">Address</label>
                <input formControlName="address" type="text" id="address"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Enter your address" required />
            </div>
            <div>
                <label for="apartment" class="block mb-2 text-sm font-medium text-gray-900 ">Apartment Number</label>
                <input formControlName="apartment" type="text" id="apartment"
                    class="bg-gray-50 border border-black text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Enter your apartment number" />
            </div>
            <div>
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900 ">City</label>
                <input formControlName="city" type="text" id="city"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Enter your city" required />
            </div>
            <div>
                <label for="governorate" class="block mb-2 text-sm font-medium text-gray-900">Governorate</label>
                <select formControlName="governorate_id" id="governorate"
                    class="bg-gray-50 border border-black text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="" disabled selected>Select your governorate</option>
                    @if (governorates) {
                    @for (governorate of governorates; track $index) {
                    <option [value]="governorate.id">{{ governorate.name }}</option>
                    }
                    }
                </select>
            </div>
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Phone</label>
                <input formControlName="phone_number" type="text" id="phone"
                    class="bg-gray-50 border border-black text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Enter valid phone number" />
                @if (addressForm.get('phone_number')?.invalid && addressForm.get('phone_number')?.touched) {
                <small class="text-red-500">
                    Please enter a valid phone number that starts with 010, 011, 012, or 015 and has 11 digits.
                </small>
                }
            </div>

            <div>
                <label for="zip-input" class="block mb-2 text-sm font-medium text-gray-900">ZIP code (optional)</label>
                <div class="relative">
                    <input formControlName="postal_code" type="text" id="zip-input"
                        class="bg-gray-50 border border-black text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                        placeholder="Enter your ZIP code" />
                </div>
            </div>
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    <input id="remember" type="checkbox" formControlName="is_default"
                        class="w-4 h-4 border border-black rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" />
                </div>
                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 ">Save As Default Address</label>
            </div>
        </div>

        <app-black-button type="submit" text="Edit Address"></app-black-button>
    </form>
</div>