<div class="slider-wrapper">
    <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;" class="mySwiper"
        thumbs-swiper=".mySwiper2" space-between="10">
        @for(img of images; track img.id){
            <swiper-slide lazy="true">
                <img [src]="img.src" loading="lazy"/>
            </swiper-slide>
        }
    </swiper-container>
    
    <div>
        <swiper-container class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true"
        watch-slides-progress="true" navigation="true" direction="vertical" style="width: 200px; height: 500px;">
            @for(img of images; track img.id){
                <swiper-slide lazy="true">
                    <img [src]="img.src" loading="lazy" class="object-contain"/>
                </swiper-slide>
            }
        </swiper-container>
    </div>
</div>
