<footer class="capitalize mt-4 font-light grid grid-cols-1 md:grid-cols-4 gap-4 bg-black text-white py-12 lg:px-14 md:px-10 px-6">
    <div>
        <h3 class="text-lg mb-6">useful links</h3>
        <ul class="flex flex-col gap-2 text-sm">
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/contact">contact</a></li>
            <li><a routerLink="/search">search</a></li>
        </ul>
    </div>
    <hr class="md:hidden">
    <div>
        <h3 class="text-lg mb-6">store policies</h3>
        <ul class="flex flex-col gap-2 text-sm">
            <li><a routerLink="/policies/shipping-policy">shipping & delivery</a></li>
            <li><a routerLink="/policies/shipping-policy">exchange & refund policy</a></li>
            <li><a routerLink="/policies/shipping-policy">privacy policy</a></li>
            <li><a routerLink="/policies/shipping-policy">terms of service</a></li>
        </ul>
    </div>
    <hr class="md:hidden">
    <div>
        <h3 class="text-lg mb-6">shop</h3>
        <ul class="flex flex-col gap-2 text-sm">
            <li><a routerLink="/collections/men">men</a></li>
            <li><a routerLink="/collections/women">women</a></li>
        </ul>
    </div>
    <hr class="md:hidden">
    <div>
        <h3 class="text-lg mb-6 hidden md:block">connect</h3>
        <ul class="flex flex-wrap gap-2 text-sm">
            <li>linkedin</li>
            <li>instagram</li>
            <li>facebook</li>
            <li>youtube</li>
            <li>tiktok</li>
        </ul>
    </div>
    <p class="font-light text-center text-xs md:text-start col-span-full mt-8">&copy; 2024 - All rights reserved. ITI graduation project team</p>
</footer>