<div class="flex p-6  w-full justify-between">
    <div class="">
        <h2 class="text-2xl font-normal pb-10">ACCOUNT DETAILS</h2>
        <p class="text-md text-gray-500">You have no orders yet.</p>
    </div>
    <div class="flex items-start">
        <div class="p-6 border-l border-stone-300">
            <h3 class="text-lg font-light pb-2">Address details</h3>
            <p class="text-md text-gray-500 mb-2">poho day581</p>
            <p class="text-md text-gray-500 mb-6">Egypt</p>
            <a (click)="changeTab('address')" class="text-sm">View addresses (1)</a>
        </div>
    </div>
</div>