a {
    cursor: pointer;
}

.order-item {
    transition: transform 0.2s, box-shadow 0.2s;

}

.order-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.order {
    flex: 0 0 75%
}

.address {
    flex: 0 0 25%;
}



@media (max-width: 768px) {
    .order-item {
        padding: 1rem;
    }

    .product-details {
        margin-top: 1rem;
    }

    .order,
    .address {
        flex: 0 0 100%;
        justify-content: start;
    }
}

@media (max-width: 640px) {
    .order-item {
        flex-direction: column;
    }

    .product-details {
        text-align: left;
    }
}

@media (max-width: 425px) {
    .change{
        align-items: start;
    }
}