<div class="p-4">
    <h1 class="text-4xl uppercase font-light mb-4">create a new category</h1>
    <form class="grid items-start gap-6" [formGroup]="categoryForm">
        <div class="flex flex-col gap-2 group">
            <app-label for="name" text="category name*"/>
            <input type="text" id="name" placeholder="Name" class="group-hover:border-black border px-4 text-xs h-12" formControlName="name">
            @if ((name.touched || name.dirty) && name.hasError('required')) {
                <p role="alert" class="text-red-800 text-xs">Name is required</p>
            }
        </div>
        
        @if (message) {
            @if (isErrorMessage) {
                <p role="alert" class="text-red-800 text-xs col-span-full">{{message}}</p>
            } @else {
                <p role="alert" class="text-green-800 text-xs col-span-full">{{message}}</p>
            }
        }
        <app-black-button text="create" (click)="submit()"/>
    </form>  
</div>