<div class="p-4 flex flex-col gap-6 max-h-dvh overflow-auto">
    @if (userData) {
        <div>
            <h1 class="text-4xl uppercase font-light">dashboard</h1>
            <p class="capitalize text-xl text-gray-700">welcome {{userData.first_name}}</p>
        </div>
    }
    @if (total) {
        <div>
            <div class="flex flex-col gap-2">
                <div class="grid grid-cols-[1fr,auto,auto] gap-2 col-span-full">
                    <h2 class="text-3xl uppercase font-light">overview</h2>
                    <form [formGroup]="durationForm">
                        <div class="flex items-center">
                            <div class="border border-slate-500 p-2 border-r-0 rounded-l min-w-fit">
                                <img src="assets/icons/date.svg" alt="" class="size-6">
                            </div>
                            <select class="border border-slate-500 p-2 rounded-r border-l-0 capitalize" formControlName="duration">
                                <option value="week">Last Week</option>
                                <option value="month">Last Month</option>
                                <option value="6months">Last 6 Months</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                    </form>
                    <button class="border border-slate-500 p-2 rounded capitalize flex gap-1" (click)="getAnalytics()">
                        <img src="assets/icons/refresh.svg" alt="">
                        <span>refresh</span>
                    </button>
                </div>
                <div class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(200px,1fr))]">
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total eranings</span>
                        <span class="text-2xl">
                            {{total.earning | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total refunded</span>
                        <span class="text-2xl">
                            {{total.refunded | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total orders</span>
                        <span class="text-2xl">
                            {{total.orders}}
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total users</span>
                        <span class="text-2xl">
                            {{total.users}}
                        </span>
                    </div>
                </div>
                <div class="grid gap-2 grid-cols-2">
                    <div class="col-span-full lg:col-span-1 border border-slate-500 shadow-lg rounded p-4 flex flex-col justify-center">
                        <h4 class="text-xl capitalize">{{bestSellerLength <= 5 ? bestSellerLength : 5}} most sold products</h4>
                        <p-chart type="bar" 
                        [data]="bestSellerData"  
                        [options]="options"> 
                    </p-chart>
                </div>
                <div class="col-span-full lg:col-span-1 border border-slate-500 shadow-lg rounded p-4 flex flex-col justify-center">
                        <h4 class="text-xl capitalize">{{earningLength <= 5 ? earningLength : 5}} highest earnings</h4>
                        <p-chart type="bar" 
                                [data]="earningData"  
                                [options]="options"> 
                        </p-chart>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
