<div class="p-4 flex flex-col gap-6 max-h-dvh overflow-auto">
    @if (userData) {
        <div>
            <h1 class="text-4xl uppercase font-light">dashboard</h1>
            <p class="capitalize text-xl text-gray-700">welcome {{userData.first_name}}</p>
        </div>
    }
    @if (analytics) {
        <div>
            <div class="flex flex-col gap-2">
                <div class="grid grid-cols-[1fr,auto,auto] gap-2 col-span-full">
                    <h2 class="text-3xl uppercase font-light">overview</h2>
                    <form [formGroup]="durationForm">
                        <select class="border border-slate-500 p-2 rounded capitalize" formControlName="duration">
                            <option value="week">Last Week</option>
                            <option value="month">Last Month</option>
                            <option value="6months">Last 6 Months</option>
                            <option value="year">Last Year</option>
                        </select>
                    </form>
                    <button class="border border-slate-500 p-2 rounded capitalize flex gap-1" (click)="getAnalytics()">
                        <img src="assets/icons/refresh.svg" alt="">
                        <span>refresh</span>
                    </button>
                </div>
                <div class="grid gap-2 grid-cols-[repeat(auto-fit,minmax(200px,1fr))]">
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total eranings</span>
                        <span class="text-2xl">
                            {{analytics.total_earning}} EGP
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total refunded</span>
                        <span class="text-2xl">
                            {{analytics.total_refunded}} EGP
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total orders</span>
                        <span class="text-2xl">
                            {{analytics.total_orders}}
                        </span>
                    </div>
                    <div class="border border-slate-500 bg-purple-200 shadow-lg rounded p-4 flex flex-col justify-center">
                        <span class="capitalize">total users</span>
                        <span class="text-2xl">
                            {{analytics.total_users}}
                        </span>
                    </div>
                </div>
                <div class="grid gap-2 grid-cols-2">
                    <div class="col-span-full lg:col-span-1 border border-slate-500 shadow-lg rounded p-4 flex flex-col justify-center">
                        <p-chart type="line" 
                                [data]="ordersData"  
                                [options]="options"> 
                        </p-chart>
                    </div>
                    <div class="col-span-full lg:col-span-1 border border-slate-500 shadow-lg rounded p-4 flex flex-col justify-center">
                        <p-chart type="bar" 
                                [data]="earningData"  
                                [options]="options"> 
                        </p-chart>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (bestSeller) {
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl uppercase font-light">best seller</h2>
            <table class="text-left w-full border border-slate-500 table-auto relative overflow-auto">
                <thead class="capitalize bg-gray-50">
                    <th class="font-medium border-b border-slate-500 p-1.5">rank</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">image</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">name</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">price</th>
                </thead>
                <tbody>
                    @for (product of bestSeller; track $index) {
                        <tr class="even:bg-gray-50 odd:bg-white">
                            <td class="font-medium capitalize border-b border-slate-500 p-1.5 w-20">#{{$index + 1}}</td>
                            <td class="border-b border-slate-500 p-1.5 w-20">
                                <img src="{{product.cover_image}}" alt="" class="size-14">
                            </td>
                            <td class="font-medium capitalize text-gray-700 border-b border-slate-500 p-1.5">{{product.name}}</td>
                            <td class="uppercase text-gray-700 border-b border-slate-500 p-1.5">{{product.price}} EGP</td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
