<div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4 text-center">Change Password</h2>

        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
            <!-- Old Password Field -->
            <div class="mb-4">
                <label for="oldPassword" class="block text-sm font-medium text-gray-700">Old Password</label>
                <input id="oldPassword" type="password" formControlName="oldPassword" class="mt-1 p-2 w-full border">
                @if(changePasswordForm.get('oldPassword')?.errors?.['required'] && changePasswordForm.get('oldPassword')?.touched){
                    <div class="text-red-500 text-sm mt-1">
                        Old password is required.
                    </div>
                }
            </div>

            <!-- New Password Field -->
            <div class="mb-4">
                <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
                <input id="newPassword" type="password" formControlName="newPassword" class="mt-1 p-2 w-full border">
                @if (changePasswordForm.get('newPassword')?.errors?.['required'] && changePasswordForm.get('newPassword')?.touched) {
                    <div class="text-red-500 text-sm mt-1">
                        New password is required.
                    </div>
                }@else if (changePasswordForm.get('newPassword')?.errors?.['minlength']) {
                    <div class="text-red-500 text-sm mt-1">
                        New password must be at least 8 characters long.
                    </div>
                }
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-4">
                <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" class="mt-1 p-2 w-full border">
                @if (changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched) {
                    <div class="text-red-500 text-sm mt-1">
                        Confirm password is required.
                    </div>
                }@else if (changePasswordForm.errors?.['mismatch']) {
                    <div class="text-red-500 text-sm mt-1">
                        Confirm password does not match the new password.
                    </div>
                }
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center">
                <app-black-button type="submit" text="Change Password"></app-black-button>
            </div>

            @if (errorMessage) {
                <div class="text-red-500 text-sm mt-1">{{ errorMessage }}</div>
            }
        </form>
    </div>
</div>
