.details a {
    text-decoration: none;
    color: #111111;
    border-bottom: 1px solid #111111;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: #696969;
}


/* Modal styling */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .inset-0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .bg-gray-900 {
    background-color: rgba(31, 41, 55, 0.75); /* Overlay background */
  }
  
  .bg-white {
    background-color: white;
  }
  
  .shadow-lg {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .max-w-sm {
    max-width: 24rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  