<div class="p-4">
    <h1 class="text-4xl uppercase font-light mb-4">create a new role</h1>
    <form class="grid items-start gap-6" [formGroup]="roleForm">
        <div class="flex flex-col gap-2 group">
            <app-label for="name" text="role name*"/>
            <input type="text" id="name" placeholder="Name" class="group-hover:border-black border px-4 text-xs h-12" formControlName="name">
            @if ((name.touched || name.dirty) && name.hasError('required')) {
                <p role="alert" class="text-red-800 text-xs">Name is required</p>
            }
        </div>
        <div class="flex flex-col gap-2">
            <app-label text="permissions"/>
            <ng-select 
            [items]="permissions"
            [clearable]="true"
            [multiple]="true"
            bindLabel="name"
            bindValue="id"
            [closeOnSelect]="false"
            placeholder="Permissions"
            formControlName="permissions">
            </ng-select>  
        </div>
        <app-black-button text="create" (click)="submit()"/>
    </form>  
</div>