<div class="cards-wrapper">
  <div class="flex" [style.transform]="getClothsTransform()">
    @for (item of clothsCards; track $index) {
    <div class="product-card">
      <a [routerLink]="['/products', item.slug]" routerLinkActive>
        <img [src]="item.cover_image" [alt]="item.name" />
        <h3>{{ item.name }}</h3>
        
        @if (item.discount_value) {
        <!-- <span class="me-2 price">{{ item.newPrice }}</span> -->
        <span class="old-price">{{ item.price }}</span>
        } @else {
        <span class="me-2 price">{{ item.price }}</span>
        }
      </a>
      <div class="colors">
        <!-- @for (color of item.colors; track $index) {
        <span class="color" [style.background-color]="color"></span>
        } -->
      </div>
    </div>
    }
  </div>
</div>
<div>
  <app-arrows [cards]="clothsCards" [currentIndex]="clothsCurrentIndex" [maxVisibleCards]="maxClothsVisibleCards" (arrowClick)="onClothsArrowClick($event)"></app-arrows>
</div>
