<div class="p-4 max-h-dvh overflow-x-auto">
    <h1 class="text-4xl uppercase font-light mb-4">Products Data</h1>
    @if (products) {
        <div class="text-sm border border-slate-500">
            <table class="text-left overflow-y-auto min-w-max w-full table-auto relative overflow-x-auto">
                <thead class="capitalize bg-gray-50">
                    <th class="font-medium border-b border-slate-500 p-1.5">image</th>
                   <th class="font-medium border-b border-slate-500 p-1.5">name</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">price</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">category</th>
                    <th class="font-medium border-b border-slate-500 p-1.5">status</th>
                    <th class="font-medium border-b border-slate-500 p-1.5"></th>
                </thead>
                <tbody>
                    @for (product of products; track $index) {
                        <tr class="even:bg-gray-50 odd:bg-white">
                            <td class="border-b border-slate-500 p-1.5 w-16">
                                <div class="w-fit">
                                    <img src="{{product.cover_image}}" alt="" class="size-12 border border-slate-500 rounded">
                                </div>
                            </td>
                            <td class="font-medium capitalize border-b border-slate-500 p-1.5">{{product.name}}</td>
                            <td class="border-b border-slate-500 p-1.5">{{product.price | myCurrency:'EGP':'symbol':'1.2-2':'en-US'}}</td>
                            <td class="border-b border-slate-500 p-1.5">
                                @if (product.categories.length) {
                                    <span class="w-fit block border border-slate-500 bg-white p-1.5 rounded capitalize">{{product.categories[0].name}}</span>
                                } @else {
                                    <span class="w-fit block border border-slate-500 bg-white p-1.5 rounded capitalize">no categories</span>
                                }
                            </td>
                            <td class="border-b border-slate-500 p-1.5">
                                @if (product.stock > 0) {
                                    <span class="w-fit block bg-green-300 p-1.5 rounded">In Stock</span>
                                } @else {
                                    <span class="w-fit block bg-red-300 p-1.5 rounded">Out of Stock</span>
                                }
                            </td>
                            <td class="border-b border-slate-500 p-1.5">
                                <div class="flex gap-1 justify-end min-w-max">
                                    <button [routerLink]="['/dashboard/product-details/', product.id]" class="capitalize bg-blue-200 flex items-center p-1.5 w-fit border border-slate-500 rounded hover:bg-blue-300">
                                        more details
                                    </button>
                                    <button data-modal-target="update-modal" data-modal-toggle="update-modal" 
                                    type="button" class="hover:bg-slate-200 rounded px-2 py-1"
                                    (click)="selectProduct(product)" (click)="updateForm()">
                                    <img src="assets/icons/pen.svg" class="size-6"/>
                                    </button>
                                    <button data-modal-target="delete-modal" data-modal-toggle="delete-modal"
                                        type="button" class="hover:bg-red-200 rounded p-1.5"
                                        (click)="selectProduct(product)">
                                        <img src="assets/icons/trash.svg" class="size-6"/>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <app-pagination [from]="from" [to]="to" [total]="total" [next]="next" [prev]="prev" [load]="load"/>
        </div>
    }
    <div id="update-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative bg-white shadow dark:bg-gray-700">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Update product
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="update-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="p-4 md:p-5 space-y-4">
                    <form class="grid items-start md:grid-cols-2 gap-6" [formGroup]="productForm">
                        <div class="flex flex-col gap-2 group ">
                            <app-label for="name" text="name*"/>
                            <input type="text" id="name" placeholder="Name" class="group-hover:border-black border px-4 text-xs h-12" formControlName="name">
                            @if ((name.touched || name.dirty) && name.hasError('required')) {
                                <p role="alert" class="text-red-800 text-xs">Name is required</p>
                            }
                        </div>
                        <div class="flex flex-col gap-2 group">
                            <app-label for="price" text="price*"/>
                            <input type="number" min="0" id="price" placeholder="Price" class="group-hover:border-black border px-4 text-xs h-12" formControlName="price">
                            @if ((price.touched || price.dirty) && price.hasError('required')) {
                                <p role="alert" class="text-red-800 text-xs">price is required</p>
                            }
                        </div>
                        <div class="flex flex-col gap-2 col-span-full">
                            <app-label text="categories"/>
                            <ng-select 
                            [items]="categories"
                            [clearable]="true"
                            [multiple]="true"
                            bindLabel="name"
                            bindValue="id"
                            [closeOnSelect]="false"
                            placeholder="Categories"
                            formControlName="categories">
                            </ng-select>  
                        </div>
                        <div class="flex flex-col gap-2 col-span-full w-fit">
                            <app-label for="cover-image" text="cover image"/>
                            <input type="file" id="cover-image" class="px-4 text-xs h-12" (change)="handleFileInput($event)" #cover_image>
                            <div class="flex gap-4">
                                @if (imageUrl) {
                                    <div>
                                        <p class="capitalize mb-1">current image</p>
                                        <img width="100%" [src]="imageUrl" class="border size-52">
                                    </div>
                                }
                                <div>
                                    <p class="capitalize mb-1">old image</p>
                                    <img src="{{oldImageUrl}}" alt="" class="border size-52">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex items-center gap-2 p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <app-black-button text="update" data-modal-hide="update-modal" (click)="updateProduct()"/>
                    <app-button text="cancel" data-modal-hide="update-modal"/>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <div class="relative bg-white shadow dark:bg-gray-700">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Are you sure you want to remove this product?
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="delete-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="flex items-center gap-2 p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <app-black-button text="yes" data-modal-hide="delete-modal" (click)="removeProduct()"/>
                    <app-button text="no" data-modal-hide="delete-modal"/>
                </div>
            </div>
        </div>
    </div>
</div>
