<div class="marquee py-3 text-indigo-800 text-sm capitalizee">
    <div class="marquee-content">
        <span class="px-20">Welcome to Elegant Wear, Fashion for Every Generation!</span>
        <span class="px-20">Discover Style for Men, Women, and Kids at Elegant Wear!</span>
        <span class="px-20">Elegant Wear: Dressing All Ages with Elegance and Comfort!</span>
        <span class="px-20">Welcome to Elegant Wear, Your Destination for Fashion for the Whole Family!</span>
    </div>
    <div class="marquee-content">
        <span class="px-20">Welcome to Elegant Wear, Fashion for Every Generation!</span>
        <span class="px-20">Discover Style for Men, Women, and Kids at Elegant Wear!</span>
        <span class="px-20">Elegant Wear: Dressing All Ages with Elegance and Comfort!</span>
        <span class="px-20">Welcome to Elegant Wear, Your Destination for Fashion for the Whole Family!</span>
    </div>
</div>