<div class="marquee py-3 text-white text-sm capitalizee">
    <div class="marquee-content">
        <span class="px-20">New announcements</span>
        <span class="px-20">S24 New Kids Collection</span>
        <span class="px-20">S24 New Men Collection</span>
        <span class="px-20">S24 New Women Collection</span>
    </div>
    <div class="marquee-content">
        <span class="px-20">New announcements</span>
        <span class="px-20">S24 New Kids Collection</span>
        <span class="px-20">S24 New Men Collection</span>
        <span class="px-20">S24 New Women Collection</span>
    </div>
</div>