<section
    class="flip-card md:w-2/3 h-96 p-10 w-full md:m-auto md:p-16 block bg-white rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="card-inner">
        <div class="card-front p-10">
            <h1 class="capitalizee text-4xl mb-5">Contact</h1>
            <p class="text-indigo-800">Opening hours</p>
            <p class="my-5">Monday to Friday 9am to 9pm (GMT) <br>
                Saturday 10am to 6pm <br>
                Sunday 10am to 4pm
            </p>
        </div>
        <div class="card-back text-center">
            <img src="assets/contact2.jpg" class="h-1/2 m-auto my-8">
            <p class="py-1">Please send an email at <span class="text-indigo-800">Support&#64;gmail.com</span></p>
        </div>
    </div>
</section>