.profile{
    max-width: 83rem;
}


.logout{
    padding-bottom: 0.5rem;
}

a, svg{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .profileName{
        padding: 10px;
    }
    
}

