<div class="p-4">
    <h1 class="text-4xl uppercase font-light mb-4">create a new coupon</h1>
    <form class="grid items-start md:grid-cols-2 gap-6" [formGroup]="couponForm">
        <div class="flex flex-col gap-2 group col-span-full">
            <app-label for="coupon-code" text="coupon code*"/>
            <input type="text" id="coupon-code" placeholder="Coupon Code" class="group-hover:border-black border px-4 text-xs h-12" formControlName="coupon_code">
            @if (couponCode.touched || couponCode.dirty) {
                @if (couponCode.hasError('required')) {
                    <p role="alert" class="text-red-800 text-xs">Coupon code is required</p>
                }
                @if (couponCode.hasError('notAlphaDash')) {
                    <p role="alert" class="text-red-800 text-xs">Coupon code contain only lowercase and uppercase letters, digits, - and _  </p>
                }
            }
        </div>

        <div class="flex flex-col gap-2 group col-span-full">
            <app-label for="uses-count" text="uses count"/>
            <input type="number" id="uses-count" placeholder="Uses Count" class="group-hover:border-black border px-4 text-xs h-12" formControlName="uses_count">
            @if ((usesCount.touched || usesCount.dirty)) {
                @if (usesCount.hasError('required')) {
                    <p role="alert" class="text-red-800 text-xs">Uses count is required</p>
                }
                @if (usesCount.hasError('min')) {
                    <p role="alert" class="text-red-800 text-xs">Uses count should not be less than 50</p>
                }
            }
        </div>

        <div class="flex flex-col gap-2 group">
            <app-label for="discount-type" text="discount type"/>
            <select id="discount-type" class="group-hover:border-black border px-4 text-xs h-12" formControlName="discount_type">
                <option value="fixed">Fixed</option>
                <option value="percentage">Percentage</option>
            </select>
        </div>

        <div class="flex flex-col gap-2 group">
            <app-label for="discount-value" text="discount value"/>
            <input type="number" id="discount-value" placeholder="Discount Value" class="group-hover:border-black border px-4 text-xs h-12" formControlName="discount_value">
            @if ((discountValue.touched || discountValue.dirty) && discountValue.hasError('invalidPercent')) {
                <p role="alert" class="text-red-800 text-xs">Discount value must not exceed 100</p>
            }
        </div>

        <div class="flex flex-col gap-2 group col-span-full">
            <app-label for="expiry-date" text="expiry date"/>
            <input type="date" id="expiry-date" placeholder="Expiry Date" class="group-hover:border-black border px-4 text-xs h-12" formControlName="expiry_date">
        </div>
        <app-black-button text="create" (click)="submit()" class="w-fit"/>
    </form>  
</div>