<section class="policy-section py-6">

    <h1 class="my-4 capitalizee text-center text-4xl">Shipping policy</h1>
    <div class="flex min-h-[40vh] m-auto w-1/2 flex-col items-center justify-evenly text-gray-900">
        <ul class="my-5">
            <li class="flex items-center space-x-3 rtl:space-x-reverse">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-indigo-800 dark:text-indigo-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
                <span>Orders will ship within 2-3 business days</span>
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-indigo-800 dark:text-indigo-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
                <span>
                    For problems with your orders, please contact us via the contact form or no our social media accounts
                </span>
            </li>
        </ul>

        <p>*International shipments may be subject to import taxes, duties and custom fees, which are levied once your package reaches the country of destination and are the responsibility of the recipient.</p>
    </div>

</section>