<section class="reviews-section py-6">
    <h1 class="mb-3 capitalizee">Product Reviews</h1>
    <a routerLink="/" class="block capitalizee text-center text-black underline underline-offset-8 text-xs hover:no-underline mb-3">Continue Shopping</a>

    <div class="my-10 px-2 md:px-10 lg:px-28">
        @if (reviews.length) {
            @for(review of reviews; track $index){
                <div class="review">
                    <div class="review-card">
                        <div class="flex flex-row justify-between">
                            <div class="profile">
                                <div class="profile-img">
                                    <i class="fa-solid fa-user absolute top-1/3 right-1/3"></i>
                                </div>
                                <div class="profile-info">
                                    <h4>{{review.reviewer}}</h4>
                                </div>
                            </div>
                            <div class="review-date">
                                <p>{{review.date_created}}</p>
                            </div>
                        </div>
                        <div class="rating flex flex-row my-2">
                            <span class="mx-1">
                                <app-star-rating [rating]="review.rating"></app-star-rating>
                            </span>
                            <span>( {{review.rating}} )</span>
                        </div>
                        <div class="review-content">
                            <p>{{ review.comment }}</p>
                        </div>
                    </div>
                </div>
            }
        }
        @else {
            <div class="flex min-h-[50dvh] w-full flex-col items-center justify-center">
                <div class="w-80">
                    <img src="assets/noreviews.png" alt="no reviews" loading="lazy" />
                </div>
                <p class="text-gray-900 text-lg">
                    There is no reviews yet.
                </p>
            </div>
        }
    </div>
</section>
