.item-wrapper:hover .arrow {
    translate: 5px;
    transition: 0.3s;
}

.item-wrapper:hover .item-title {
    scale: 1.1;
    transition: 0.3s;
}

.item-wrapper {
    padding: 1.3rem 0;
    font-family: var(--font-heading);
    font-size: 1.2rem;
}

.drawer-title {
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-size: 2rem;
}

.text{
    margin: 2rem 0;
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(71, 71, 71);
    font-family: var(--font-body-family);
    font-weight: 300;
}

@media (max-width: 768px) {
    svg {
        width: 50px;
        height: 58px;
    }
    .drawer-title {
        font-size: 1.5rem;
    }
}