/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-heading: Montserrat, sans-serif;
    --font-body-family: "DM Sans", sans-serif;
    --light-gray: "#F0F0F0";
}

.capitalizee{
    font-family: var(--font-heading);
    text-transform: uppercase;
}

.ng-select-container {
    border-radius: 0px !important;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 3rem !important;
    border-color: #6B7280 !important;
}
.ng-value-container {
    padding-left: 0 !important;
}
.ng-placeholder {
    padding-top: 10px !important;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6B7280 !important;
}