
.mySwiper {
    width: 300px;
    height: 900px;
    margin: 10px auto;
}

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50px;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid black;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    object-fit:contain;
    object-position: center center;
    margin: 2rem 0;
  }

  .mySwiper2 swiper-slide img{
    object-fit:cover;
    height: 100%;
    margin: 0;
  }

  .slider-wrapper{
    position: relative;
  }


  @media (max-width: 768px) {
    .mySwiper {
      width: 400px;
      height: 500px;
    }
    .mySwiper2 {
      width: 900px;
    }
    .mySwiper2 swiper-slide {
      width: 20%;
    }
  }